body {
    background-color:#D7D6A5; 
    margin:0px;
}
.style_nav_buttons {
    text-decoration: none;
    color:#F4F3D1;
    margin-right: 20px;
}
.nav_buttons {
    display: flex;
    text-align:center;
    list-style: none;
    border: 0px solid ;
    background-color:#63622E;
    border-radius: 48px;
    width: 728.0343627929688px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    height: 71.11111450195312px;
}
.nav_buttons_location {
    position: absolute;
    display: flex;
    top:59px;
    right:52px;
}
.image_tree {
    float: right;
    width:718.3687744140625px; 
    height:469.8515319824219px;
    margin-left: 482px;
}
.header_block {
    float: right;
    background-color: #F4F3D1;
    height: 331px;
    width: 718.3687744140625px;

}