body {
    background-color:#D7D6A5; 
    margin:0px;
}
.style_nav_buttons {
    text-decoration: none;
    color:#F4F3D1;
    margin-right: 20px;
}
.nav_buttons {
    display: flex;
    text-align:center;
    list-style: none;
    border: 0px solid ;
    background-color:#63622E;
    border-radius: 48px;
    width: 728.0343627929688px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    height: 71.11111450195312px;
}
.nav_buttons_location {
    position: absolute;
    display: flex;
    top:59px;
    right:52px;
}
.image_tree {
    float: right;
    width: 60%; 
    height: 28%;
}
.header_block {
    float: right;
    background-color: #F4F3D1;
    height: 331px;
    width: 60%;
}
.button_bookie {
    position:absolute;
    border: 0px solid;
    border-radius: 60.5px;
    margin-left: 471px;
    margin-top: 494px;
    width: 432.5249938964844px;
    height: 89.62963104248047px;
    background-color: #F4F3D1;
    color:#D7D6A5;
}
.schedule {
    margin-left: 1000px;
    position: absolute;
}
.div1 {
    display: inline-block;
}
.adres {
    position:absolute;
    margin-left: 501px;
}